<!DOCTYPE html>
<html>
  <head>
    <title>Soundcheck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      // window.mobile = "<%= image_url('splash_image3.jpg') %>"
      window.logo = "<%= image_url('cloud2.png') %>"
    </script>
    <meta property="og:title" content="SoundCheck" />
    <meta property='og:image' content="<%= image_url('screen_linkedin.png') %>"/>
    <meta property="og:description"
       content="SoundCheck, a SoundCloud clone, is a web application that allows users upload songs and listen songs posted by others."
    />
    <meta property="og:url"
       content="https://cjsoundcheck.herokuapp.com/#/"
    />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
